/* stylelint-disable */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  border-bottom: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

mark {
  color: #000000;
  background-color: #ffff00;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}

legend {
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("RobotoLight"), local("Roboto Light"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), local("Roboto Regular"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("RobotoBold"), local("Roboto Bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 960px;
  min-height: 100vh;
  color: #000000;
  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.main__wrapper {
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.main__wrapper h1 {
  margin-bottom: 0;
  padding: 0 95px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
}

.main__wrapper p {
  padding: 0 95px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.main__wrapper b {
  font-size: 1.2em;
}

.main__header {
  margin-bottom: 30px;
  padding: 20px 0;
  background-color: #38A413;
}

.main__header img {
  display: block;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.12%;
  background-color: #41B619;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__cart {
  margin-right: 10px;
  margin-left: auto;
}

.header__cart a {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  display: block;
  padding-top: 21px;
  padding-right: 15px;
  padding-bottom: 21px;
  padding-left: 58px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  background-color: #41B619;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 29px 27px;
}

.header__cart a:hover:not(:active) {
  background-color: #48D618;
}

.header__cart a:active {
  background-color: #38A413;
}

.header__cart a:focus {
  opacity: 0.5;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user a {
  display: block;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #41B619;
}

.header__user a:hover:not(:active) {
  background-color: #48D618;
}

.header__user a:active {
  background-color: #38A413;
}

.header__user a:focus {
  opacity: 0.5;
}

.header__user img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
}

.header__user span {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}

.header__logout::before {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  content: '';
  vertical-align: middle;
  background: url(../img/login.svg) no-repeat center;
  background-size: auto 50%;
}

.header__login::after {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  content: '';
  vertical-align: middle;
  background: url(../img/login.svg) no-repeat center;
  background-size: auto 50%;
}

.content {
  padding-top: 20px;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding-right: 2.12%;
  padding-bottom: 30px;
  padding-left: 2.12%;
}

.content__dough {
  width: 527px;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
}

.content__diameter {
  width: 373px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content__ingredients {
  width: 527px;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
}

.content__pizza {
  width: 373px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content__constructor {
  width: 315px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.content__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.content__result p {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  margin: 0;
}

.content__result button {
  margin-left: 12px;
  padding: 16px 45px;
}

.sheet {
  padding-top: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.sheet__title {
  padding-right: 18px;
  padding-left: 18px;
}

.sheet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8px;
  padding-top: 18px;
  padding-right: 18px;
  padding-left: 18px;
  border-top: 1px solid rgba(65, 182, 25, 0.1);
}

.container {
  width: 770px;
  margin: 0 auto;
}

.layout__sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: rgba(65, 182, 25, 0.05);
}

.layout__logo {
  display: block;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #41B619;
}

.layout__logo img {
  display: block;
  margin: 0 auto;
}

.layout__link {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  display: block;
  padding: 8px 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000000;
}

.layout__link--active {
  background-color: rgba(65, 182, 25, 0.1);
}

.layout__link:hover {
  background-color: rgba(65, 182, 25, 0.2);
}

.layout__link:active {
  color: rgba(0, 0, 0, 0.5);
}

.layout__content {
  padding-top: 22px;
  padding-right: 2.12%;
  padding-left: 200px;
}

.layout__title {
  margin-bottom: 27px;
}

.layout__button {
  margin-top: 40px;
}

.layout__button button {
  padding: 12px 23px;
}

.layout__address {
  margin-top: 16px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 420px;
  padding: 64px 95px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.popup::before, .popup::after {
  position: absolute;
  width: 48px;
  height: 48px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popup::before {
  top: 15px;
  left: 15px;
  background-image: url("../img/filling/ananas.svg");
}

.popup::after {
  right: 15px;
  bottom: 15px;
  background-image: url("../img/filling/tomatoes.svg");
}

.popup p {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.popup__title {
  text-align: center;
  font-size: 1.3em;
}

.popup__button a {
  padding: 16px 32px;
}

.layout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sign-form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 455px;
  padding-top: 146px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  background: #ffffff url("../img/popup.svg") no-repeat center top;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.sign-form button {
  margin: 0 auto;
  padding: 16px 14px;
}

.sign-form__title {
  margin-bottom: 24px;
  text-align: center;
}

.sign-form__input {
  margin-bottom: 16px;
}

.icon {
  display: block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #ffffff;
  background-image: url("../img/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
}

.icon:active {
  -webkit-box-shadow: 0 0 0 2px #41B619;
          box-shadow: 0 0 0 2px #41B619;
}

.icon:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
          box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.logo {
  display: block;
}

.logo img {
  display: block;
  width: 90px;
  height: 40px;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #000000;
  border-radius: 50%;
  outline: none;
}

.close::before, .close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 2px;
  content: "";
  border-radius: 2px;
  background-color: #000000;
}

.close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.close::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.close:hover {
  opacity: 0.8;
}

.close:active {
  opacity: 0.5;
}

.close:focus::before, .close:focus::after {
  background-color: #FF842B;
}

.close--white::before, .close--white::after {
  background-color: #ffffff;
}

.input {
  display: block;
}

.input span {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}

.input input {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 8px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000000;
  border: 1px solid #B3ABBC;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
  font-family: inherit;
}

.input input:focus {
  border-color: #41B619;
}

.input:hover input {
  border-color: #000000;
}

.input--big-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input--big-label span {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  margin-right: 16px;
  white-space: nowrap;
}

.select {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  display: block;
  margin: 0;
  padding: 8px 16px;
  padding-right: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000000;
  border: 1px solid #B3ABBC;
  border-radius: 8px;
  outline: none;
  background-color: #F7F4F4;
  background-image: url("../img/select.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select:hover {
  border-color: #FF842B;
}

.select:focus {
  border-color: #41B619;
}

.radio {
  cursor: pointer;
}

.radio span {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  position: relative;
  padding-left: 28px;
}

.radio span:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #B3ABBC;
  border-radius: 50%;
  background-color: #ffffff;
}

.radio:hover input:not(:checked):not(:disabled) + span:before {
  border-color: #685879;
}

.radio input {
  display: none;
}

.radio input:checked + span:before {
  border: 6px solid #41B619;
}

.radio input:disabled + span:before {
  border-color: #B3ABBC;
  background-color: #EAEAEA;
}

.radio input:disabled:checked + span:before {
  border: 6px solid #B3ABBC;
}

.button {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  font-family: inherit;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
  -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  background-color: #41B619;
}

.button:hover:not(:active):not(:disabled) {
  background-color: #48D618;
}

.button:active:not(:disabled) {
  background-color: #38A413;
}

.button:focus:not(:disabled) {
  opacity: 0.5;
}

.button:disabled {
  background-color: #8CB97C;
  color: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.button--border {
  background-color: transparent;
  border: 1px solid #41B619;
  color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--border:hover:not(:active):not(:disabled) {
  color: #41B619;
  border-color: #41B619;
  background-color: transparent;
}

.button--border:active:not(:disabled) {
  color: #38A413;
  border-color: #38A413;
  background-color: transparent;
}

.button--border:disabled {
  opacity: 0.5;
}

.button--transparent {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000;
}

.button--transparent:hover:not(:active):not(:disabled) {
  color: #E20338;
  background-color: transparent;
}

.button--transparent:active:not(:disabled) {
  color: #C20532;
  background-color: transparent;
}

.button--transparent:disabled {
  opacity: 0.25;
}

.button--arrow::before {
  content: "";
  background-image: url("../img/button-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.button--white {
  background-color: #ffffff;
  color: #41B619;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__button {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  border-radius: 50%;
  outline: none;
}

.counter__button--minus {
  background-color: #F2EEF5;
}

.counter__button--minus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  content: "";
  border-radius: 2px;
  background-color: #000000;
}

.counter__button--minus:hover:not(:active):not(:disabled) {
  background-color: #F6EBFF;
}

.counter__button--minus:active:not(:disabled) {
  background-color: #EBDCF7;
}

.counter__button--minus:focus:not(:disabled) {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
          box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.counter__button--minus:disabled {
  cursor: default;
}

.counter__button--minus:disabled::before {
  opacity: 0.1;
}

.counter__button--plus {
  background-color: #41B619;
}

.counter__button--plus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  content: "";
  border-radius: 2px;
  background-color: #ffffff;
}

.counter__button--plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  border-radius: 2px;
  background-color: #ffffff;
}

.counter__button--plus:hover:not(:active):not(:disabled) {
  background-color: #48D618;
}

.counter__button--plus:active:not(:disabled) {
  background-color: #38A413;
}

.counter__button--plus:focus:not(:disabled) {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
          box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.counter__button--plus:disabled {
  cursor: default;
  opacity: 0.3;
}

.counter__button--orange {
  background-color: #FF6B00;
}

.counter__button--orange:hover:not(:active):not(:disabled) {
  background-color: #FF842B;
}

.counter__button--orange:active:not(:disabled) {
  background-color: #ED6300;
}

.counter__input {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 22px;
  margin: 0;
  padding: 0 3px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
}

.counter__input:focus {
  -webkit-box-shadow: inset 0 0 0 2px rgba(65, 182, 25, 0.6);
          box-shadow: inset 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: #000000;
}

.title--big {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
}

.title--small {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
}

.filling {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  position: relative;
  display: block;
  padding-left: 36px;
}

.filling::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  width: 32px;
  height: 32px;
  content: "";
  border-radius: 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}

.filling--tomatoes::before {
  background-image: url("../img/filling/tomatoes.svg");
}

.filling--ananas::before {
  background-image: url("../img/filling/ananas.svg");
}

.filling--bacon::before {
  background-image: url("../img/filling/bacon.svg");
}

.filling--blue_cheese::before {
  background-image: url("../img/filling/blue_cheese.svg");
}

.filling--cheddar::before {
  background-image: url("../img/filling/cheddar.svg");
}

.filling--chile::before {
  background-image: url("../img/filling/chile.svg");
}

.filling--ham::before {
  background-image: url("../img/filling/ham.svg");
}

.filling--jalapeno::before {
  background-image: url("../img/filling/jalapeno.svg");
}

.filling--mozzarella::before {
  background-image: url("../img/filling/mozzarella.svg");
}

.filling--mushrooms::before {
  background-image: url("../img/filling/mushrooms.svg");
}

.filling--olives::before {
  background-image: url("../img/filling/olives.svg");
}

.filling--onion::before {
  background-image: url("../img/filling/onion.svg");
}

.filling--parmesan::before {
  background-image: url("../img/filling/parmesan.svg");
}

.filling--salami::before {
  background-image: url("../img/filling/salami.svg");
}

.filling--salmon::before {
  background-image: url("../img/filling/salmon.svg");
}

.pizza {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pizza--foundation--big-creamy {
  background-image: url("../img/foundation/big-creamy.svg");
}

.pizza--foundation--big-tomato {
  background-image: url("../img/foundation/big-tomato.svg");
}

.pizza--foundation--small-creamy {
  background-image: url("../img/foundation/small-creamy.svg");
}

.pizza--foundation--small-tomato {
  background-image: url("../img/foundation/small-tomato.svg");
}

.pizza__wrapper {
  width: 100%;
  padding-bottom: 100%;
}

.pizza__filling {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pizza__filling::before, .pizza__filling::after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: inherit;
}

.pizza__filling--second::before {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pizza__filling--third::before {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pizza__filling--third::after {
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pizza__filling--ananas, .pizza__filling--ananas.pizza__filling--second::before, .pizza__filling--ananas.pizza__filling--third::after {
  background-image: url("../img/filling-big/ananas.svg");
}

.pizza__filling--bacon, .pizza__filling--bacon.pizza__filling--second::before, .pizza__filling--bacon.pizza__filling--third::after {
  background-image: url("../img/filling-big/bacon.svg");
}

.pizza__filling--blue_cheese, .pizza__filling--blue.pizza__filling--second::before, .pizza__filling--blue.pizza__filling--third::after {
  background-image: url("../img/filling-big/blue_cheese.svg");
}

.pizza__filling--cheddarcheddar, .pizza__filling--cheddar.pizza__filling--second::before, .pizza__filling--cheddar.pizza__filling--third::after {
  background-image: url("../img/filling-big/cheddar.svg");
}

.pizza__filling--chile, .pizza__filling--chile.pizza__filling--second::before, .pizza__filling--chile.pizza__filling--third::after {
  background-image: url("../img/filling-big/chile.svg");
}

.pizza__filling--ham, .pizza__filling--ham.pizza__filling--second::before, .pizza__filling--ham.pizza__filling--third::after {
  background-image: url("../img/filling-big/ham.svg");
}

.pizza__filling--jalapeno, .pizza__filling--jalapeno.pizza__filling--second::before, .pizza__filling--jalapeno.pizza__filling--third::after {
  background-image: url("../img/filling-big/jalapeno.svg");
}

.pizza__filling--mozzarella, .pizza__filling--mozzarella.pizza__filling--second::before, .pizza__filling--mozzarella.pizza__filling--third::after {
  background-image: url("../img/filling-big/mozzarella.svg");
}

.pizza__filling--mushrooms, .pizza__filling--mushrooms.pizza__filling--second::before, .pizza__filling--mushrooms.pizza__filling--third::after {
  background-image: url("../img/filling-big/mushrooms.svg");
}

.pizza__filling--olives, .pizza__filling--olives.pizza__filling--second::before, .pizza__filling--olives.pizza__filling--third::after {
  background-image: url("../img/filling-big/olives.svg");
}

.pizza__filling--onion, .pizza__filling--onion.pizza__filling--second::before, .pizza__filling--onion.pizza__filling--third::after {
  background-image: url("../img/filling-big/onion.svg");
}

.pizza__filling--parmesan, .pizza__filling--parmesan.pizza__filling--second::before, .pizza__filling--parmesan.pizza__filling--third::after {
  background-image: url("../img/filling-big/parmesan.svg");
}

.pizza__filling--salami, .pizza__filling---salami.pizza__filling--second::before, .pizza__filling---salami.pizza__filling--third::after {
  background-image: url("../img/filling-big/salami.svg");
}

.pizza__filling--salmon, .pizza__filling--salmon.pizza__filling--second::before, .pizza__filling--salmon.pizza__filling--third::after {
  background-image: url("../img/filling-big/salmon.svg");
}

.pizza__filling--tomatoes, .pizza__filling--tomatoes.pizza__filling--second::before, .pizza__filling--tomatoes.pizza__filling--third::after {
  background-image: url("../img/filling-big/tomatoes.svg");
}

.dough__input {
  position: relative;
  margin-right: 8%;
  margin-bottom: 20px;
  padding-left: 50px;
  cursor: pointer;
}

.dough__input b {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
}

.dough__input b::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 36px;
  height: 36px;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dough__input span {
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  line-height: 13px;
  display: block;
}

.dough__input--light b::before {
  background-image: url("../img/dough-light.svg");
}

.dough__input--large b::before {
  background-image: url("../img/dough-large.svg");
}

.dough__input:hover b::before {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
          box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.dough__input input:checked + b::before {
  -webkit-box-shadow: 0 0 0 2px #41B619;
          box-shadow: 0 0 0 2px #41B619;
}

.diameter__input {
  margin-right: 8.7%;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 6px;
  cursor: pointer;
}

.diameter__input span {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  position: relative;
  padding-left: 46px;
}

.diameter__input span::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 36px;
  height: 36px;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  background-color: #E1FFD7;
  background-image: url("../img/diameter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.diameter__input:nth-child(3n) {
  margin-right: 0;
}

.diameter__input--small span::before {
  background-size: 18px;
}

.diameter__input--normal span::before {
  background-size: 29px;
}

.diameter__input--big span::before {
  background-size: 100%;
}

.diameter__input:hover span::before {
  -webkit-box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
          box-shadow: 0 0 0 2px rgba(65, 182, 25, 0.6);
}

.diameter__input input:checked + span::before {
  -webkit-box-shadow: 0 0 0 2px #41B619;
          box-shadow: 0 0 0 2px #41B619;
}

.ingredients__sauce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 14px;
}

.ingredients__sauce p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  margin-top: 0;
  margin-right: 16px;
  margin-bottom: 10px;
}

.ingredients__input {
  margin-right: 24px;
  margin-bottom: 10px;
}

.ingredients__filling {
  width: 100%;
}

.ingredients__filling p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 16px;
}

.ingredients__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ingredients__item {
  width: 100px;
  min-height: 40px;
  margin-right: 17px;
  margin-bottom: 35px;
}

.ingredients__counter {
  width: 54px;
  margin-top: 10px;
  margin-left: 36px;
}

.cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 15px 0;
}

.cart-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(65, 182, 25, 0.1);
}

.cart-list__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.cart-list__product {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: auto;
}

.cart-list__counter {
  width: 54px;
  margin-right: auto;
  margin-left: 20px;
}

.cart-list__price {
  min-width: 100px;
  margin-right: 36px;
  margin-left: 10px;
  text-align: right;
}

.cart-list__price b {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
}

.cart-list__edit {
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  line-height: 13px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  outline: none;
  background-color: transparent;
}

.cart-list__edit:hover {
  color: #41B619;
}

.cart-list__edit:active {
  color: #38A413;
}

.cart-list__edit:focus {
  color: #48D618;
}

.cart__title {
  margin-bottom: 15px;
}

.cart__additional {
  margin-top: 15px;
  margin-bottom: 25px;
}

.cart__empty {
  padding: 20px 30px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__text {
  margin-left: 15px;
}

.product__text h2 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 10px;
}

.product__text ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  line-height: 13px;
}

.additional-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.additional-list__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 8px;
}

.additional-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.additional-list__item img {
  margin-right: 10px;
  margin-left: 15px;
}

.additional-list__item span {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  display: inline;
  width: 100px;
  margin-right: 15px;
}

.additional-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  padding-top: 18px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid rgba(65, 182, 25, 0.1);
}

.additional-list__counter {
  width: 54px;
  margin-right: auto;
}

.additional-list__price {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
}

.cart-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-form__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.cart-form__select span {
  margin-right: 16px;
}

.cart-form__label {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  white-space: nowrap;
}

.cart-form__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
}

.cart-form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
  margin-left: 16px;
}

.cart-form__input--small {
  max-width: 120px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  padding: 25px 2.12%;
  background-color: rgba(65, 182, 25, 0.1);
}

.footer__more {
  width: 220px;
  margin-right: 16px;
}

.footer__more a {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer__text {
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.footer__price {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  margin-right: 12px;
  margin-left: auto;
}

.footer__submit button {
  padding: 16px 14px;
}

.order {
  margin-bottom: 32px;
  padding-top: 0;
}

.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 16px;
  border-bottom: 1px solid rgba(65, 182, 25, 0.1);
}

.order__wrapper b {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
}

.order__wrapper span {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
}

.order__wrapper button {
  padding: 8px 26px;
}

.order__number {
  margin-right: auto;
}

.order__sum {
  margin-right: 16px;
}

.order__button {
  margin-left: 16px;
}

.order__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
  padding-right: 10px;
  padding-left: 10px;
}

.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  margin-right: 33px;
  margin-bottom: 32px;
}

.order__price {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  margin: 0;
  white-space: nowrap;
}

.order__additional {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
  padding-left: 80px;
}

.order__additional li {
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  width: 130px;
  margin-right: 24px;
  margin-bottom: 10px;
}

.order__additional p {
  margin: 0;
}

.order__additional img {
  float: left;
  margin-right: 7px;
}

.order__additional b {
  display: block;
}

.order__address {
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  line-height: 13px;
  margin: 0;
  padding: 16px 10px;
  border-top: 1px solid rgba(65, 182, 25, 0.1);
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 33px;
}

.user__name {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 23px;
  margin-left: 30px;
}

.user__name span {
  display: inline-block;
  vertical-align: middle;
}

.user__button {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.user__phone {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  width: 100%;
  margin-top: 20px;
}

.user__phone span {
  font-weight: 400;
}

.address-form {
  position: relative;
  padding-top: 0;
  padding-bottom: 26px;
}

.address-form--opened .address-form__header {
  padding: 16px;
}

.address-form p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0 16px;
}

.address-form small {
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  line-height: 13px;
  display: block;
  padding: 0 16px;
}

.address-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 16px;
}

.address-form__input {
  width: 100%;
  margin-bottom: 16px;
}

.address-form__input--size--normal {
  width: 60.5%;
}

.address-form__input--size--small {
  width: 18%;
}

.address-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16px;
}

.address-form__buttons button {
  margin-left: 16px;
  padding: 16px 27px;
}

.address-form__header {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
  padding: 10px 16px;
  border-bottom: 1px solid rgba(65, 182, 25, 0.1);
}
